@model ClassLibrary.Mvc.Models.ErrorViewModel
@using ClassLibrary.Mvc.Http;
@{
    string alertClass = ((Model.StatusCode < 500) && (Model.StatusCode != 401)) ? "alert-warning text-dark bg-warning bg-opacity-75 opacity-75" : "alert-danger text-light bg-danger bg-opacity-75 opacity-100";
    KeyValuePair<int, string> kvp = StatusCodeDefinitions.GetCodeDefinition(Model.StatusCode);

    string statusMessage = Model.StatusMessage.Trim();
    if (string.IsNullOrEmpty(statusMessage))
        statusMessage = kvp.Value;
}

<div class="row align-items-center justify-content-center">
    <div class="col-12 text-center">
        
        <div>

            <div class="shadow alert @alertClass text-start mt-4 mb-1" role="alert" aria-live="assertive">
                <strong>Status Code: @Model.StatusCode.ToString()</strong>
                @if (!string.IsNullOrEmpty(statusMessage))
                {
                    <br />
                    <span>@Html.Raw(statusMessage)</span>
                }
            </div>
            <p class="text-start ms-2 mt-0">
                @if (!String.IsNullOrEmpty(Model.RequestId))
                {
                    <small class="disply-6"><strong class="text-dark opacity-50">Request_Id: <code class="text-dark opacity-100">@Model.RequestId</code></strong></small>
                }
            </p>

            @if (Model.Exception != null)
            {
                <div class="card mb-3">
                    <div class="text-start">

                        <p>
                            <ul>
                                <li><b>Exception Message:</b> @Model.Exception.Message</li>
                                <li><b>Exception Source:</b> @Model.Exception.Source</li>
                                <li><b>Exception StackTrace:</b><br /><span style="white-space: pre-line">@Model.Exception.StackTrace</span></li>
                            </ul>

                            @if (Model.Exception.InnerException != null)
                            {
                                <ul class="">
                                    <li><b>Inner Exception Message:</b> @Model.Exception.InnerException.Message</li>
                                    <li><b>Inner Exception Source:</b> @Model.Exception.InnerException.Source</li>
                                    <li><b>Inner Exception StackTrace:</b><br /><span style="white-space: pre-line">@Model.Exception.InnerException.StackTrace</span></li>
                                </ul>
                            }
                        </p>


                    </div>
                </div>
            }

        </div>

    </div>
</div>  

@section styles
{
}

@section scripts
{
}
